In [1]:
import pandas as pd

In [7]:
a = pd.read_csv("data.csv")

In [20]:
a

,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
0,shubham,nautiyal,shuubam@gmail.com,1.000000e+10,7/13/1996,male,Goa,affad,123123.0,afdfds,asdf,1966.0
1,qwerty,qwertyu,shubham_nautiyal@yahoo.com,1.234512e+09,11/9/1982,female,Rajashtan,dfghj,788099.0,fdghjkl,dgfhjk,2020.0
2,qwerty,qwertyu,shubham_nautiyal@yahoo.com,5.678906e+09,12/8/1992,female,Sikkim,dfghj,786899.0,fdghjkl,dgfhjk,2020.0
3,asdfg,hjkl,psamazone7@gmail.com,1.234568e+09,12/12/2012,male,Uttarakhand,sdf fs,456456.0,dasfhh,sdaf f,1999.0
4,tree,NaN,NaN,NaN,NaN,female,Daman_and_Diu,NaN,NaN,NaN,NaN,NaN

In [40]:
b = list(a)

In [41]:
c = a[a["first_name"]=="shubham"].values.tolist()[0]

In [42]:
dictionary = dict(zip(b, c))

In [49]:
dictionary

{'first_name': 'shubham',
 ' last_name': ' nautiyal',
 ' email': ' shuubam@gmail.com',
 ' phone': 9999999999.0,
 ' birthday': '7/13/1996',
 ' gender': ' male',
 ' state': ' Goa',
 ' city': ' affad',
 ' pincode': 123123.0,
 ' uni_name': ' afdfds',
 ' field': ' asdf',
 ' year': 1966.0}