In [1]:
import pandas as pd
import csv

In [64]:
a = pd.read_csv("data.csv", dtype=str)

In [65]:
a

,reg_num,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
0,100,shubham,nautiyal,shuubam@gmail.com,9999999999,9/29/2011,male,Goa,affad,123123,afdfds,asdf,1966
1,101,qwerty,qwertyu,shubhaml@yahoo.com,1234512345,11/9/1982,female,Rajashtan,dfghj,788099,fdghjkl,dgfhjk,2020
2,102,asdfgh,qwertyu,shubham@outlook.com,5678905678,12/8/1992,female,Sikkim,dfghj,786899,fdghjkl,dgfhjk,2020
3,103,zxcvbn,mnbvc,zxcvbn@zxcvbn.com,4444444444,6/11/1999,male,Bihar,qwer,333333,ujmyhn,ikmujn,1999
4,105,my,nautiyal,shuubam@gm.com,9999999999,5/13/2020,female,Odisha,affad,123123,afdfds,asdf,1966
5,106,jhon,smith,jhon@hyu.com,5678567856,5/24/2020,male,Tripura,yhntgb,789789,cvbdfgh,tgbyhn,2003
6,107,dsfjkllk,doe,asdfgh@sdfaf.com,5675675676,5/7/2020,female,Assam,uhuhu,789789,dfshakjh,sadjflk,2000
7,109,afasty,adsfsfyu,NaN,NaN,NaN,female,Bihar,NaN,NaN,NaN,NaN,NaN
8,110,afastyty,adsfsfyu,NaN,NaN,NaN,female,Jharkhand,NaN,NaN,NaN,NaN,NaN
9,111,afastyty,adsfsfyu,NaN,NaN,NaN,female,Punjab,NaN,NaN,NaN,NaN,NaN
10,112,afastyh,adsfsfyu,NaN,NaN,NaN,male,Tamil_Nadu,NaN,NaN,NaN,NaN,NaN

In [67]:
a[a.index == '109']

c:\users\shubham.nautiyal\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexes\base.py:122: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(self.values, np.asarray(other))

Empty DataFrame
Columns: [reg_num, first_name,  last_name,  email,  phone,  birthday,  gender,  state,  city,  pincode,  uni_name,  field,  year]
Index: []

In [30]:
a.to_csv('out.csv')

In [41]:
b = list(a)

In [42]:
a[a["first_name"]=="shubham"].values.tolist()[0]

[100,
 'shubham',
 ' nautiyal',
 ' shuubam@gmail.com',
 9999999999.0,
 '9/29/2011',
 ' male',
 ' Goa',
 ' affad',
 123123.0,
 ' afdfds',
 ' asdf',
 1966.0]

In [41]:
c = a[a["first_name"]=="shubham"].values.tolist()[0]

In [42]:
dictionary = dict(zip(b, c))

In [49]:
dictionary

{'first_name': 'shubham',
 ' last_name': ' nautiyal',
 ' email': ' shuubam@gmail.com',
 ' phone': 9999999999.0,
 ' birthday': '7/13/1996',
 ' gender': ' male',
 ' state': ' Goa',
 ' city': ' affad',
 ' pincode': 123123.0,
 ' uni_name': ' afdfds',
 ' field': ' asdf',
 ' year': 1966.0}

In [36]:
 r = a[a["first_name"]=="shubham"].index

In [39]:
a.drop(r, inplace = True)

In [40]:
a

,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
1,qwerty,qwertyu,shubham_nautiyal@yahoo.com,1.234512e+09,11/9/1982,female,Rajashtan,dfghj,788099.0,fdghjkl,dgfhjk,2020.0
2,qwerty,qwertyu,shubham_nautiyal@yahoo.com,5.678906e+09,12/8/1992,female,Sikkim,dfghj,786899.0,fdghjkl,dgfhjk,2020.0
3,asdfg,hjkl,psamazone7@gmail.com,1.234568e+09,12/12/2012,male,Uttarakhand,sdf fs,456456.0,dasfhh,sdaf f,1999.0
4,kaka,NaN,NaN,NaN,5/5/2020,male,Assam,NaN,NaN,NaN,NaN,NaN
5,shubh,nautiyal,shuubam@gm.com,1.000000e+10,9/21/2011,male,Daman_and_Diu,affad,123123.0,afdfds,asdf,1966.0
6,ioio,NaN,NaN,NaN,NaN,male,Bihar,NaN,NaN,NaN,NaN,NaN
7,life,of,NaN,NaN,5/14/2020,male,Tripura,NaN,NaN,NaN,NaN,NaN

In [26]:
delete_row = df[df["Int"]==0].index
df = df.drop(delete_row)
print(df)

In [43]:
a

,reg_num,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
0,100,shubham,nautiyal,shuubam@gmail.com,1.000000e+10,9/29/2011,male,Goa,affad,123123.0,afdfds,asdf,1966.0
1,101,qwerty,qwertyu,shubhaml@yahoo.com,1.234512e+09,11/9/1982,female,Rajashtan,dfghj,788099.0,fdghjkl,dgfhjk,2020.0
2,102,asdfgh,qwertyu,shubham@outlook.com,5.678906e+09,12/8/1992,female,Sikkim,dfghj,786899.0,fdghjkl,dgfhjk,2020.0
3,103,zxcvbn,mnbvc,zxcvbn@zxcvbn.com,4.444444e+09,6/11/1999,male,Bihar,qwer,333333.0,ujmyhn,ikmujn,1999.0
4,104,tree,okmo,tree@nature.com,4.564565e+09,5/14/2020,male,Tripura,zxcvb,567567.0,tgbrfv,wsxedc,2005.0
5,105,my,nautiyal,shuubam@gm.com,1.000000e+10,5/13/2020,female,Odisha,affad,123123.0,afdfds,asdf,1966.0
6,106,jhon,smith,jhon@hyu.com,5.678568e+09,5/24/2020,male,Tripura,yhntgb,789789.0,cvbdfgh,tgbyhn,2003.0
7,107,dsfjkllk,doe,asdfgh@sdfaf.com,5.675676e+09,5/7/2020,female,Assam,uhuhu,789789.0,dfshakjh,sadjflk,2000.0
8,108,afas,adsfsf,NaN,NaN,NaN,female,Chhattisgarh,NaN,NaN,NaN,NaN,NaN
9,109,afasty,adsfsfyu,NaN,NaN,NaN,female,Bihar,NaN,NaN,NaN,NaN,NaN
10,110,afastyty,adsfsfyu,NaN,NaN,NaN,female,Jharkhand,NaN,NaN,NaN,NaN,NaN
11,111,afastyty,adsfsfyu,NaN,NaN,NaN,female,Punjab,NaN,NaN,NaN,NaN,NaN

In [44]:
list(a)

['reg_num',
 'first_name',
 ' last_name',
 ' email',
 ' phone',
 ' birthday',
 ' gender',
 ' state',
 ' city',
 ' pincode',
 ' uni_name',
 ' field',
 ' year']

In [46]:
a[a['reg_num']==108].values.tolist()[0]

[108,
 'afas',
 'adsfsf',
 nan,
 nan,
 nan,
 'female',
 'Chhattisgarh',
 nan,
 nan,
 nan,
 nan,
 nan]

In [54]:
b = list(a)
c = a[a['reg_num']==102].values.tolist()[0]
d = dict(zip(b, c))

In [55]:
d

{'reg_num': 102,
 'first_name': 'asdfgh',
 ' last_name': 'qwertyu',
 ' email': 'shubham@outlook.com',
 ' phone': 5678905678.0,
 ' birthday': '12/8/1992',
 ' gender': 'female',
 ' state': 'Sikkim',
 ' city': 'dfghj',
 ' pincode': 786899.0,
 ' uni_name': 'fdghjkl',
 ' field': 'dgfhjk',
 ' year': 2020.0}

In [56]:
r = a[a['reg_num']== 102].index

In [57]:
r

Int64Index([2], dtype='int64')

In [53]:
a.drop(r)

,reg_num,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
0,100,shubham,nautiyal,shuubam@gmail.com,1.000000e+10,9/29/2011,male,Goa,affad,123123.0,afdfds,asdf,1966.0
1,101,qwerty,qwertyu,shubhaml@yahoo.com,1.234512e+09,11/9/1982,female,Rajashtan,dfghj,788099.0,fdghjkl,dgfhjk,2020.0
2,102,asdfgh,qwertyu,shubham@outlook.com,5.678906e+09,12/8/1992,female,Sikkim,dfghj,786899.0,fdghjkl,dgfhjk,2020.0
3,103,zxcvbn,mnbvc,zxcvbn@zxcvbn.com,4.444444e+09,6/11/1999,male,Bihar,qwer,333333.0,ujmyhn,ikmujn,1999.0
4,104,tree,okmo,tree@nature.com,4.564565e+09,5/14/2020,male,Tripura,zxcvb,567567.0,tgbrfv,wsxedc,2005.0
5,105,my,nautiyal,shuubam@gm.com,1.000000e+10,5/13/2020,female,Odisha,affad,123123.0,afdfds,asdf,1966.0
6,106,jhon,smith,jhon@hyu.com,5.678568e+09,5/24/2020,male,Tripura,yhntgb,789789.0,cvbdfgh,tgbyhn,2003.0
7,107,dsfjkllk,doe,asdfgh@sdfaf.com,5.675676e+09,5/7/2020,female,Assam,uhuhu,789789.0,dfshakjh,sadjflk,2000.0
9,109,afasty,adsfsfyu,NaN,NaN,NaN,female,Bihar,NaN,NaN,NaN,NaN,NaN
10,110,afastyty,adsfsfyu,NaN,NaN,NaN,female,Jharkhand,NaN,NaN,NaN,NaN,NaN
11,111,afastyty,adsfsfyu,NaN,NaN,NaN,female,Punjab,NaN,NaN,NaN,NaN,NaN

In [86]:
a[a['reg_num'] == '101']

,reg_num,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
1,101,qwerty,qwertyu,shubhaml@yahoo.com,1234512345,11/9/1982,female,Rajashtan,dfghj,788099,fdghjkl,dgfhjk,2020

In [150]:
a = pd.read_csv("data.csv", index_col=0)

In [152]:
a

,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
reg_num,,,,,,,,,,,,
100,shubham,nautiyal,shuubam@gmail.com,9999999999,9/29/2011,male,Goa,affad,123123,afdfds,asdf,1966
101,qwerty,qwertyu,shubhaml@yahoo.com,1234512345,11/9/1982,female,Rajashtan,dfghj,788099,fdghjkl,dgfhjk,2020
102,bbbbbbbb,qwertyu,shubham@outlok.com,2222222222,5/6/2020,female,Tripura,dfghj,786899,fdghjkl,dgfhjk,2020
103,zxcvbn,mnbvc,zxcvbn@zxcvbn.com,4444444444,6/11/1999,male,Bihar,qwer,333333,ujmyhn,ikmujn,1999
105,my,nautiyal,shuubam@gm.com,9999999999,5/13/2020,female,Odisha,affad,123123,afdfds,asdf,1966
106,jhon,smith,jhon@hyu.com,5678567856,5/24/2020,male,Tripura,yhntgb,789789,cvbdfgh,tgbyhn,2003
107,dsfjkllk,doe,asdfgh@sdfaf.com,5675675676,5/7/2020,female,Assam,uhuhu,789789,dfshakjh,sadjflk,2000
114,gghjki,hjkl,sadfjk@yuooo.df,7897897890,5/6/2020,female,Telangana,afdssa,789789,sajdhfhkjsa,asdjhfhkas,1952

In [160]:
type(a.index[4])

numpy.int64

In [144]:
pd.Series([1,2,3],[4,5,6])

4    1
5    2
6    3
dtype: int64

In [3]:
a = pd.read_csv("data.csv", index_col=0)
a.head()

,first_name,last_name,email,phone,birthday,gender,state,city,pincode,uni_name,field,year
reg_num,,,,,,,,,,,,
100,shubham,nautiyal,shuubam@gmail.com,1.000000e+10,9/29/2011,male,Goa,affad,123123,afdfds,asdf,1966
101,qwerty,qwertyu,shubhaml@yahoo.com,1.234512e+09,11/9/1982,female,Rajashtan,dfghj,788099,fdghjkl,dgfhjk,2020
102,bbbbbbbb,qwertyu,shubham@outlok.com,2.222222e+09,5/6/2020,female,Tripura,dfghj,786899,fdghjkl,dgfhjk,2020
103,zxcvbn,mnbvc,zxcvbn@zxcvbn.com,4.444444e+09,6/11/1999,male,Bihar,qwer,333333,ujmyhn,ikmujn,1999
105,my,nautiyal,shuubam@gum.com,1.000000e+10,2020-05-27,male,Chhattisgarh,affad,123123,afdfds,asdf,1966

In [9]:
a.index

Int64Index([100, 101, 102, 103, 105, 106, 107, 114, 115, 116, 117, 118, 119,
            120],
           dtype='int64', name='reg_num')

In [14]:
a.drop(101, inplace = True)

In [17]:
a.to_csv("data.csv")